{% load static %}
<div
  id="modal-mission-briefing"
  class="modal-backdrop fixed inset-0 items-center justify-center bg-black bg-opacity-80 z-[9999] p-4 hidden"
>
  <div
    class="w-full h-full max-w-[880px] max-h-[90vh] bg-[#1A1A1A] rounded text-white overflow-auto p-12 relative"
  >
    <button
      class="modal-btn-close absolute top-4 right-4 text-gray-300 hover:text-white text-xl"
      data-close="modal-mission-briefing"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <h2 class="text-3xl font-bold mb-6">Mission Briefing</h2>
    <!-- modal content here -->
  </div>
</div>

<div
  id="modal-intel"
  class="modal-backdrop fixed inset-0 items-center justify-center bg-black bg-opacity-80 z-[9999] p-4 hidden"
>
  <div
    class="w-full h-full max-w-[880px] max-h-[90vh] bg-[#1A1A1A] rounded text-white overflow-auto p-12 relative"
  >
    <button
      class="modal-btn-close absolute top-4 right-4 text-gray-300 hover:text-white text-xl"
      data-close="modal-intel"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-5 h-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>
    </button>
    <h2 class="text-3xl font-bold mb-6">Intel</h2>
    <!-- modal content here -->
  </div>
</div>
