__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

.venv/
env/

**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc

db.sqlite3
*.sqlite3

.env
*.env
.env.dev
.env.prod
.env.*
config/settings_local.py

*.log
logs/

*.sass-cache/
*.scssc
*.css.map
*.sass.map

.cache/
.babelrc
.eslintcache

.prettier-cache

.prettierrc
.prettierrc.json
.prettierrc.yml
.prettierrc.js
.prettierrc.toml
.prettierignore

.vscode/
*.code-workspace

Pipfile.lock
poetry.lock

certbot/*
nginx/ssl/*

node_modules/
staticfiles/
dist/