{% extends 'base.html' %}
{% load static %}
{% block styles %}
 <link rel="stylesheet" href="{% static '/css/landing.css' %}" />
{% endblock%}
{% block content%}
<header class="header-section">
  <nav class="header-navbar">
    <a href="#">
      <img src="{% static '/imgs/logo.png' %}" alt="Logo" />
    </a>
    <ul class="header-list">
      <li>
        <!-- prettier-ignore -->
        <button type="button" class="header-button rules" data-open="rules-modal">
                      Rules
            </button>
      </li>
      <li>
        <!-- prettier-ignore -->
        <button type="button" class="header-button about" data-open="about-modal">
              About
            </button>
      </li>
    </ul>
  </nav>
</header>
<main class="main-section">
  <div class="main-elements">
    <div>
      <p class="main-text">Welcome to</p>
      <h1 class="main-header">Codenames Online</h1>
    </div>
    <button type="button" class="main-button new" data-open="create-modal">
      Create new Room
    </button>
    <button type="button" class="main-button join" data-open="join-modal">
      Join Room
    </button>
  </div>
  <img
    src="{% static '/imgs/secret_agent.png' %}"
    alt="Secret agent standing in the open door"
    class="main-image"
  />
</main>
<footer class="footer-section">
  <ul class="footer-icons-list">
    <li>
      <a href="#">
        <svg class="footer-icon">
          <use href="{% static '/icons/icons.svg' %}#icon-github"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="footer-icon">
          <use href="{% static '/icons/icons.svg' %}#icon-linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
</footer>

<div class="backdrop is-hidden" id="rules-modal">
  <div class="modal">
    <button type="button" class="modal-btn-close" data-modal="rules-modal">
      Close
    </button>
    <h2 class="modal-header">Rules</h2>
    <p class="modal-text">Rules content goes here...</p>
  </div>
</div>

<div class="backdrop is-hidden" id="about-modal">
  <div class="modal">
    <button type="button" class="modal-btn-close" data-modal="about-modal">
      Close
    </button>
    <h2 class="modal-header">About</h2>
    <p class="modal-text">About content goes here...</p>
  </div>
</div>

<div class="backdrop is-hidden" id="create-modal">
  <div class="modal">
    <button type="button" class="modal-btn-close" data-modal="create-modal">
      Close
    </button>
    <h2 class="modal-header">Create a room</h2>
    <form class="modal-form create-form" method="POST">
      {% csrf_token %}
      <div class="form-field">
        <!-- prettier-ignore -->
        <label class="form-label visually-hidden" for="{{ create_form.username.id_for_label }}">{{ create_form.username.label }}</label>
        {{ create_form.username }}
      </div>

      <!-- prettier-ignore -->
      <input class="submit-input create-submit" name="create_room" type="submit" value="Start the game" id="submit-input"/>
    </form>
  </div>
</div>

<div class="backdrop is-hidden" id="join-modal">
  <div class="modal">
    <button type="button" class="modal-btn-close" data-modal="join-modal">
      Close
    </button>
    <h2 class="modal-header">Join a room</h2>
    <form class="modal-form join-form" method="POST">
      {% csrf_token %}
      <div class="form-field">
        <!-- prettier-ignore -->
        <label class="form-label visually-hidden" for="{{ join_form.username.id_for_label }}">{{ join_form.username.label }}</label>
        {{ join_form.username }}
      </div>

      <div class="form-field">
        <!-- prettier-ignore -->
        <label class="form-label visually-hidden" for="{{ join_form.game_id.id_for_label }}">{{ join_form.game_id.label }}</label>
        {{ join_form.game_id }}
      </div>

      <!-- prettier-ignore -->
      <input class="submit-input join-submit" name="join_room" type="submit" value="Start the game" id="submit-input"/>
    </form>
  </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static '/js/landing/landing.js' %}"></script>
{% endblock %}