{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/dist/landing.css' %}" />
{% endblock %} {% block content %}
<main class="flex-grow flex items-center">
  <div
    class="container mx-auto px-6 py-16 flex flex-col md:flex-row items-center justify-between"
  >
    <div class="md:w-1/2 text-center md:text-left md:mb-0">
      <h1
        class="bebas-neue text-7xl md:text-8xl lg:text-9xl tracking-tighter leading-none"
      >
        <span class="text-[var(--primary-color)] red-text-shadow"
          >OPERATION:</span
        >
        <br class="hidden md:block" />
        <span class="text-[var(--secondary-color)] blue-text-shadow"
          >CODENAMES</span
        >
      </h1>
      <p class="mt-4 text-lg text-gray-400 max-w-lg mx-auto md:mx-0">
        Talk in code, think fast, and outsmart the other team. Give clever
        clues, guess the right words, and whatever you do — don’t pick the
        assassin.
      </p>
      <div
        class="mt-10 flex flex-col sm:flex-row justify-center md:justify-start space-y-4 sm:space-y-0 sm:space-x-4"
      >
        <button
          class="btn btn-primary red-box-shadow"
          data-open="modal-establish"
        >
          START NEW MISSION
        </button>
        <button
          class="btn btn-secondary blue-box-shadow"
          data-open="modal-infiltrate"
        >
          JOIN MISSION
        </button>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex justify-center md:justify-end">
      <div class="relative w-3/4 max-w-sm hidden md:block">
        <div
          class="absolute -top-4 -left-4 w-full h-full border-4 border-[var(--secondary-color)] z-0 blue-box-shadow"
        ></div>
        <div
          class="absolute -bottom-4 -right-4 w-full h-full border-4 border-[var(--primary-color)] z-0 red-box-shadow"
        ></div>
        <img
          alt="Silhouette of a man in a fedora standing in a brightly lit doorway"
          class="relative z-10 w-full"
          src="{% static 'imgs/agent.png' %}"
        />
      </div>
    </div>
  </div>
</main>
{% endblock %} {% block script %} {% endblock %}
