{% extends 'base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/dist/room.css' %}" />
{% endblock %} {% block content %}
<main class="min-h-screen flex items-center justify-center p-4">
  <div class="flex flex-col items-center flex-grow max-w-6xl">
    <div class="text-center mb-12">
      <h2 class="bebas-neue text-5xl md:text-6xl tracking-wider">
        <span class="text text-[var(--text-light)]">
          {{ current_player.username }}
        </span>
      </h2>
      <span class="text-xl text-[var(--text-light)]">
        Game {{ game_obj.id }}
      </span>
    </div>
    <div class="grid grid-cols-5 gap-4 p-4 w-full">
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >HORSE</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >BERLIN</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >MICROSCOPE</span
        >
      </div>
      <div
        class="bg-[var(--primary-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer red-box-shadow"
      >
        <span
          class="text-xl md:text-2xl font-bold text-white bebas-neue text-center"
          >NINJA</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >PIRATE</span
        >
      </div>
      <div
        class="bg-[var(--secondary-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer blue-box-shadow"
      >
        <span
          class="text-xl md:text-2xl font-bold text-white bebas-neue text-center"
          >NEW YORK</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >CAT</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >LEAD</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >GHOST</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >MOUNT</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >LAP</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >KEY</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >TRIP</span
        >
      </div>
      <div
        class="bg-gray-400 p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer"
      >
        <span
          class="text-xl md:text-2xl font-bold text-gray-900 bebas-neue text-center"
          >DIAMOND</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >CRANE</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >ARM</span
        >
      </div>
      <div
        class="bg-black p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer border-2 border-gray-600"
      >
        <span
          class="text-xl md:text-2xl font-bold text-white bebas-neue text-center"
          >AGENT</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >TOWER</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >BRIDGE</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >FILM</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >MAIL</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >SOCK</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >ICE</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >WASHINGTON</span
        >
      </div>
      <div
        class="bg-[var(--accent-color)] p-4 rounded-lg shadow-lg flex items-center justify-center h-28 md:h-32 cursor-pointer hover:bg-gray-700 transition duration-300"
      >
        <span class="text-xl md:text-2xl font-medium bebas-neue text-center"
          >DAY</span
        >
      </div>
    </div>
    <div class="mt-6 flex items-center space-x-3">
      <input
        class="bg-[var(--accent-color)] border border-[var(--text-dark)] rounded-lg py-2 px-4 w-64 focus:outline-none focus:ring-2 focus:ring-[var(--secondary-color)]"
        placeholder="Type your clue..."
        type="text"
      />
      <button
        class="bg-[var(--secondary-color)] hover:bg-blue-700 text-white font-bold py-2 px-6 rounded-lg transition duration-300"
      >
        Give Clue
      </button>
    </div>
  </div>
</main>
{% endblock %}
