{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Game {{ game_obj.id }} Started</h1>
<p>Your nickname: {{ current_player.username }}</p>
<p>Your team: {{ current_player.team }}</p>

<ul id="cards">
  {% for card in cards %} {% for word in card.words %}
  <li
    id="card-{{ word.word }}"
    data-color="{{ word.color }}"
    data-is-chosen="false"
    onclick="card_choice(this.id)"
  >
    {{ word.word }}
  </li>
  {% endfor %} {% endfor %}
</ul>
{% if current_player.leader %}
<form id="hint-form" class="">
  <div id="hint-word-input">
    <!-- prettier-ignore -->
    <label
        class="form-label visually-hidden"
        for="hintWordInput">Enter the hint
    </label>
    <!-- prettier-ignore -->
    <input type="text" id="hintWordInput" placeholder="Enter hint word" required/>

    <!-- prettier-ignore -->
    <label
        class="form-label visually-hidden"
        for="hintNumInput">Enter number of words
    </label>
    <!-- prettier-ignore -->
    <input type="number" id="hintNumInput" placeholder="Enter number of words" required/>
  </div>
  <button type="submit" name="hint-form-submit">Give the hint</button>
</form>
<!-- prettier-ignore -->
{% endif %}
{% if last_hint %}
<p id="hintDisplay">
  Hint: {{ last_hint.word }} <br />Number of words: {{ last_hint.num }}
</p>
{% else %}
<p id="hintDisplay"></p>
<!-- prettier-ignore -->
{% endif %}
<p id="timer"></p>
{% endblock %}
<!-- prettier-ignore -->
{% block script %}
<script>
  const game_id = '{{ game_obj.id }}';

  const gameSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/game/' + game_id + '/',
  );

  let currentUser = '{{ current_player.username }}';

  let clockOffset = 0;
  let timerInterval = null;
  let currentPhase = 'hint';

  gameSocket.onclose = function (e) {
    console.error('Room was closed unexpectedly');
  };

  gameSocket.onmessage = function (e) {
    var data = JSON.parse(e.data);

    if (data.action === 'player_join') {
      var leader_list = data['leader_list'];

      if (leader_list.includes(currentUser)) {
        var cards = document.querySelectorAll("[id^='card-']");
        cards.forEach(card => {
          card.style.backgroundColor = card.dataset.color;
        });
      }
    } else if (data.action === 'choose_card') {
      let username = data['username'];
      let card_id = data['card_id'];
      let card_status = data['card_status'];

      let card = document.getElementById(card_id);

      if (card_status === true) {
        card.style.border = '2px solid yellow';
        card.dataset.isChosen = 'true';
      } else {
        card.style.border = '';
        card.dataset.isChosen = 'false';
      }
    } else if (data.action === 'hint_display') {
      hintWord = data['hint_word'];
      hintNum = data['hint_num'];

      document.getElementById(
        'hintDisplay',
      ).innerText = `Hint: ${hintWord} \n Number of words: ${hintNum}`;
    } else if (data.action === 'round_start') {
      currentPhase = 'round';
      if (!sessionStorage.getItem('timerRunning')) {
        const roundDuration = data['duration'];
        const startTime = (data['start_time'] + clockOffset) * 1000;

        startCountdown(roundDuration, startTime);
      }
    } else if (data.action === 'hint_timer_start') {
      currentPhase = 'hint';
      if (!sessionStorage.getItem('timerRunning')) {
        const roundDuration = data['duration'];
        const startTime = (data['start_time'] + clockOffset) * 1000;

        startCountdown(roundDuration, startTime);
      }
    } else if (data.action === 'sync_time') {
      // Offset the difference (server_time - clientTime)
      const clientTime = Date.now() / 1000;
      clockOffset = data.server_time - clientTime;
    }
  };

  function card_choice(card_id) {
    let card = document.getElementById(card_id);
    let isChosen = card.dataset.isChosen;

    if (
      '{{current_player.leader}}' != 'True' &&
      sessionStorage.getItem('timerRunning') &&
      currentPhase === 'round'
    ) {
      if (isChosen === 'true') {
        card.style.border = '';
        card.dataset.isChosen = 'false';
      } else {
        card.style.border = '2px solid yellow';
        card.dataset.isChosen = 'true';
      }

      gameSocket.send(
        JSON.stringify({
          action: 'card_choice',
          card_id: card_id,
          card_status: card.dataset.isChosen === 'true',
        }),
      );
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    let hintForm = document.getElementById('hint-form');

    if (hintForm) {
      hintForm.onsubmit = function (event) {
        submitHintWord(event);
      };
    }

    if (sessionStorage.getItem('timerRunning')) {
      const storedDuration = sessionStorage.getItem('Duration');
      const storedStartTime = sessionStorage.getItem('StartTime');

      if (storedDuration && storedStartTime) {
        startCountdown(Number(storedDuration), Number(storedStartTime));
      }
    }
  });

  function submitHintWord(event) {
    event.preventDefault();
    if (currentPhase === 'hint') {
      let hintWord = document.getElementById('hintWordInput').value;
      let hintNum = document.getElementById('hintNumInput').value;
      let leaderTeam = '{{ current_player.team }}';

      gameSocket.send(
        JSON.stringify({
          action: 'hint_submit',
          hintWord: hintWord,
          hintNum: hintNum,
          leaderTeam: leaderTeam,
        }),
      );

      if (timerInterval) {
        clearInterval(timerInterval);
        timerInterval = null;
      }

      sessionStorage.removeItem('Duration');
      sessionStorage.removeItem('StartTime');
      sessionStorage.removeItem('timerRunning');

      gameSocket.send(
        JSON.stringify({
          action: 'start_timer',
        }),
      );

      document.getElementById('hint-form').reset();
    }
  }

  function startCountdown(duration, startTime) {
    const timerDisplay = document.getElementById('timer');
    const hintForm = document.getElementById('hint-form');

    timerInterval = setInterval(() => {
      const now = Date.now();
      const timeElapsed = Math.floor((now - startTime) / 1000);
      const timeRemaining = duration - timeElapsed;

      timerDisplay.textContent = 'Time remaining: ' + timeRemaining + 's';
      if (timeRemaining <= 0) {
        clearInterval(timerInterval);
        timerDisplay.textContent = "Time's up!";

        sessionStorage.removeItem('Duration');
        sessionStorage.removeItem('StartTime');
        sessionStorage.removeItem('timerRunning');
        // add logic after round ends(counting cards, new round)

        gameSocket.send(
          JSON.stringify({
            action: 'start_timer',
          }),
        );
      }
    }, 1000);
  }
</script>
{% endblock %}
