{% extends 'base.html' %} {% block content %}
<h1>Game Room</h1>
<p>Game ID: {{ game_object.id }}</p>

<h2>Players:</h2>
<ul>
  <h3>Your nickname: {{ current_player.username }}</h3>
  <li>Creator: {{ current_player.creator }}</li>
  <li>Leader: {{ current_player.leader }}</li>
  <li>Team: {{ current_player.team }}</li>
  {% for player in player_object %}
  <!-- prettier-ignore -->
  {% if player.username != current_player.username %}
  <h3>Nickname: {{ player.username }}</h3>
  <li>Creator: {{ player.creator }}</li>
  <li>Leader: {{ player.leader }}</li>
  <li>Team: {{ player.team }}</li>
  {% endif %} {% endfor %}
  <p>Team Red</p>
  <button type="submit">Leader</button>
  <button type="submit">Guesser</button>
  <p>Team Blue</p>
  <button type="submit">Leader</button>
  <button type="submit">Guesser</button>
</ul>

{% endblock %}
