{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Game {{ game_obj.id }} Started</h1>
<p>Your nickname: {{ current_player.username }}</p>
<p>Your team: {{ current_player.team }}</p>

<ul id="cards">
  {% for card in cards %}
  <!-- prettier-ignore -->
  <li
    id="card-{{ card.word }}"
    data-color="{{ card.color }}"
    data-is-chosen="false"
    onclick="card_choice(this.id)">
    {{ card.word }}
  </li>
  {% endfor %}
</ul>
{% if current_player.leader %}
<form id="hint-form" class="">
  <div id="hint-word-input">
    <!-- prettier-ignore -->
    <label
        class="form-label visually-hidden"
        for="hintWordInput">Enter the hint
    </label>
    <!-- prettier-ignore -->
    <input type="text" id="hintWordInput" placeholder="Enter hint word" required/>

    <!-- prettier-ignore -->
    <label
        class="form-label visually-hidden"
        for="hintNumInput">Enter number of words
    </label>
    <!-- prettier-ignore -->
    <input type="number" id="hintNumInput" placeholder="Enter number of words" required/>
  </div>
  <button type="submit" name="hint-form-submit">Give the hint</button>
</form>
<!-- prettier-ignore -->
{% endif %}
{% if last_hint %}
<p id="hintDisplay">
  Hint: {{ last_hint.word }} <br />Number of words: {{ last_hint.num }}
</p>
{% else %}
<p id="hintDisplay"></p>
<!-- prettier-ignore -->
{% endif %}
<p id="timer"></p>
{% endblock %}
<!-- prettier-ignore -->
{% block script %}
<script>
  const game_id = '{{ game_obj.id }}';

  const gameSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/game/' + game_id + '/',
  );

  let currentUser = '{{ current_player.username }}';

  // window.gameState = {
  //   clockOffset: 0,
  //   timerInterval: null,
  //   phase: 'hint',
  //   hintNum: 0,
  //   hintWord: null,
  //   chosenCount: 0,
  //   alreadyProcessed: false,
  // };

  let clockOffset = 0;
  let timerInterval = null;
  let currentPhase = 'hint';

  let hintNum = 0;
  let hintWord = null;
  let chosenCount = 0;

  gameSocket.onclose = function (e) {
    console.error('Room was closed unexpectedly');
  };

  gameSocket.onmessage = function (e) {
    var data = JSON.parse(e.data);

    if (data.action === 'player_join') {
      var leader_list = data['leader_list'];
      var cards = document.querySelectorAll("[id^='card-']");

      if (leader_list.includes(currentUser)) {
        cards.forEach(card => {
          card.style.backgroundColor = card.dataset.color;
        });
      }
    } else if (data.action === 'choose_card') {
      let username = data['username'];
      let card_id = data['card_id'];
      let card_status = data['card_status'];

      let card = document.getElementById(card_id);

      if (card_status === true) {
        card.style.border = '2px solid yellow';
        card.dataset.isChosen = 'true';
      } else {
        card.style.border = '';
        card.dataset.isChosen = 'false';
      }
    } else if (data.action === 'hint_display') {
      hintWord = data['hint_word'];
      hintNum = Number(data['hint_num']);

      document.getElementById(
        'hintDisplay',
      ).innerText = `Hint: ${hintWord} \n Number of words: ${hintNum}`;
    } else if (data.action === 'round_phase_start') {
      currentPhase = 'round';
      const roundDuration = data['duration'];
      const startTime = (data['start_time'] + clockOffset) * 1000;

      startCountdown(roundDuration, startTime, 'timer_cycle');
    } else if (data.action === 'hint_phase_start') {
      currentPhase = 'hint';
      const roundDuration = data['duration'];
      const startTime = (data['start_time'] + clockOffset) * 1000;

      startCountdown(roundDuration, startTime, 'timer_cycle');
    } else if (data.action === 'sync_time') {
      duration = data['duration'];
      currentPhase = data['phase'];
      startTime = data['start_time'];

      const clientTimeAtSync = Date.now() / 1000;
      const clockOffset = startTime - clientTimeAtSync;

      const syncedCurrentTime = Date.now() / 1000 + clockOffset;
      const passedSeconds = syncedCurrentTime - startTime;
      const remainingTime = Math.max(duration - passedSeconds, 0);

      if (timerInterval) {
        clearInterval(timerInterval);
        timerInterval = null;
      }

      startCountdown(remainingTime, startTime * 1000, 'sync_time');
    } else if (data.action == 'reveal_guessed_cards') {
      revealGuessedCards();
    }
  };

  function card_choice(card_id) {
    let card = document.getElementById(card_id);
    let isChosen = card.dataset.isChosen;

    if ('{{current_player.leader}}' != 'True' && currentPhase === 'round') {
      if (isChosen === 'true') {
        card.style.border = '';
        card.dataset.isChosen = 'false';
        chosenCount -= 1;
      } else {
        if (chosenCount >= hintNum + 1) {
          alert(`You can only choose ${hintNum + 1} cards.`);
          return;
        }

        card.style.border = '2px solid yellow';
        card.dataset.isChosen = 'true';
        chosenCount += 1;
      }

      gameSocket.send(
        JSON.stringify({
          action: 'card_choice',
          card_id: card_id,
          card_status: card.dataset.isChosen === 'true',
        }),
      );
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    let hintForm = document.getElementById('hint-form');

    if (hintForm) {
      hintForm.onsubmit = function (event) {
        submitHintWord(event);
      };
    }
  });

  function startCountdown(duration, startTime, type) {
    const timerDisplay = document.getElementById('timer');
    const hintForm = document.getElementById('hint-form');

    if (timerInterval) {
      clearInterval(timerInterval);
      timerInterval = null;
    }

    const endTime = startTime + duration * 1000;
    timerInterval = setInterval(() => {
      const now = Date.now();
      const timeRemaining = Math.max(0, Math.floor((endTime - now) / 1000));

      if (timeRemaining <= 0) {
        clearInterval(timerInterval);
        timerInterval = null;
        timerDisplay.textContent = "Time's up!";

        gameSocket.send(
          JSON.stringify({
            action: 'start_timer',
            type: 'timer_cycle',
          }),
        );
      } else {
        timerDisplay.textContent = `Time remaining: ${timeRemaining}s`;
      }
    }, 1000);
  }

  function submitHintWord(event) {
    event.preventDefault();
    if (currentPhase === 'hint') {
      const hintWordInput = document.getElementById('hintWordInput');
      const hintNumInput = document.getElementById('hintNumInput');

      if (!hintWordInput.value || !hintNumInput.value) {
        alert('Please fill in both hint fields');
        return;
      }

      gameSocket.send(
        JSON.stringify({
          action: 'hint_submit',
          hintWord: hintWordInput.value,
          hintNum: parseInt(hintNumInput.value),
          leaderTeam: '{{ current_player.team }}',
        }),
      );

      document.getElementById('hint-form').reset();
    }
  }

  function revealGuessedCards() {
    //get guessed cards
    const pickedCards = document.querySelectorAll('[data-is-chosen="true"]');
    const pickedCardIds = Array.from(pickedCards).map(card => card.id);

    // send picked cards to the backend
    gameSocket.send(
      JSON.stringify({
        action: 'picked_cards',
        pickedCards: pickedCardIds,
      }),
    );

    //reset card_choice parameters
    chosenCount = 0;
    hintWord = null;
    hintNum = 0;

    console.log(pickedCards);

    //display chosen cards
    pickedCards.forEach(card => {
      card.onclick = null;
      card.dataset.isChosen = 'guessed';

      card.style.backgroundColor = 'grey';
      card.style.border = '';
      if (card.dataset.color === 'Neutral') card.style.color = 'white';
      else card.style.color = card.dataset.color;
    });
  }
</script>
{% endblock %}
