{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Game {{ game_obj.id }} Started</h1>
<p>Your nickname: {{ current_player.username }}</p>
<p>Your team: {{ current_player.team }}</p>

<ul id="cards">
  {% for card in cards %} {% for word in card.words %}
  <li id="card-{{ word.word }}" data-color="{{ word.color }}">
    {{ word.word }}
  </li>
  {% endfor %} {% endfor %}
</ul>

{% endblock %}
<!-- prettier-ignore -->
{% block script %}
<script>
  var game_id = '{{ game_obj.id }}';

  var roomSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/game/' + game_id + '/',
  );

  roomSocket.onmessage = function (e) {
    console.log('hello onmessage');
  };

  roomSocket.onclose = function (e) {
    console.error('Room was closed unexpectedly');
  };

  roomSocket.onmessage = function (e) {
    var data = JSON.parse(e.data);

    if (data.action === 'player_join') {
      var username = data['username'];
      var leader_list = data['leader_list'];

      if (leader_list.includes(username)) {
        var cards = document.querySelectorAll("[id^='card-']");

        cards.forEach(card => {
          card.style.backgroundColor = card.dataset.color;
        });
      }
    }
  };
</script>
{% endblock %}
