{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Game Room</h1>
<p>Game ID: {{ game_obj.id }}</p>

<h2>Players:</h2>
<ul>
  {% for player in player_obj %}
  <li id="player-{{ player.username }}">
    <h3 class="player-nickname">Nickname: {{ player.username }}</h3>
    <p class="player-creator">Creator: {{ player.creator }}</p>
    <p class="player-role">Leader: {{ player.leader }}</p>
    <p class="player-team">Team: {{ player.team }}</p>
  </li>
  {% endfor %}
</ul>

<form method="POST" id="choose-team-form">
  {% csrf_token %} {{ choose_form.as_p }}
  <button type="submit" id="choose-team-submit" name="choose_team">Play</button>
</form>

{% if current_player.creator %}
<form method="POST" id="start-game-form">
  {% csrf_token %}
  <button type="submit" id="start-game-btn" name="start_game">
    Start the Game
  </button>
</form>
{% endif %} {% endblock %}
<!-- prettier-ignore -->
{% block script %}
<script>
  const room_id = '{{ game_obj.id }}';

  const roomSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/room/' + room_id + '/',
  );

  roomSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);

    if (data.action === 'team_choice') {
      const username = data['username'];
      const role = data['role'];
      const team = data['team'];

      let playerElement = document.querySelector('#player-' + username);

      if (playerElement) {
        playerElement.querySelector('.player-role').textContent =
          'Leader: ' + role;
        playerElement.querySelector('.player-team').textContent =
          'Team: ' + team;
      }
    } else if (data.action === 'redirect') {
      window.location.href = '/game/' + data.room_id;
    } else if (data.action === 'unready') {
      const unready_players = data['unready_players'];
      const creator = data['creator'];
      const currentUser = '{{ current_player.username }}';

      if (unready_players.includes(currentUser)) {
        let form = document.querySelector('#choose-team-form');

        if (form) {
          form.reportValidity();
        }
      } else if (creator === currentUser) {
        window.alert('Wait until all players choose teams');
      }
    } else if ((data.action = 'player_join')) {
      const username = data['username'];

      if (!document.querySelector(`#player-${username}`)) {
        let playerList = document.querySelector('ul');

        let newPlayer = document.createElement('li');
        newPlayer.id = `player-${username}`;
        newPlayer.innerHTML = `
                <h3 class="player-nickname">Nickname: ${username}</h3>
                <p class="player-creator">Creator: False</p>
                <p class="player-role">Leader: False</p>
                <p class="player-team">Team: None</p>
            `;

        playerList.appendChild(newPlayer);
      }
    }
  };

  roomSocket.onclose = function (e) {
    console.error('Room was closed unexpectedly');
  };

  document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('#start-game-form');
    if (form) {
      form.onsubmit = function (event) {
        event.preventDefault();

        roomSocket.send(
          JSON.stringify({
            action: 'start_game',
            room_id: room_id,
          }),
        );
      };
    }
  });

  document.querySelector('#choose-team-form').onsubmit = function (event) {
    submitTeamChoice(event);
  };

  function submitTeamChoice(event) {
    event.preventDefault();

    // const currentRole = '{{ current_player.leader }}';
    // const currentTeam = '{{ current_player.team }}';

    const selectedRoleInput = document.querySelector(
      'input[name="role"]:checked',
    );
    const selectedTeamInput = document.querySelector(
      'input[name="team"]:checked',
    );

    const selectedRole = selectedRoleInput.value;
    const selectedTeam = selectedTeamInput.value;

    // let selectedRole = selectedRoleInput?.value || currentRole;
    // let selectedTeam = selectedTeamInput?.value || currentTeam;

    if (!selectedRole || !selectedTeam) {
      alert('Please select both a team and a role');
      return;
    }

    // if (!selectedRole && !selectedTeam) {
    //   alert('Please select both a team and a role');
    //   return;
    // } else if (!selectedRole) {
    //   alert('Please select a role');
    //   return;
    // } else if (!selectedTeam) {
    //   alert('Please select a team');
    //   return;
    // }

    roomSocket.send(
      JSON.stringify({
        action: 'change_team',
        role: selectedRole,
        team: selectedTeam,
      }),
    );

    if ('{{ game_obj.starting_team }}' !== 'None') {
      roomSocket.send(
        JSON.stringify({
          action: 'start_game',
          room_id: room_id,
        }),
      );
    }

    document.querySelector('#choose-team-form').reset();
  }
</script>
{% endblock %}
